#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Deck {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Deck form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  color: black;
}

.cards li {
  padding-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
}

.cards li button {
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 5px;
}
